@import "../ComponentStyles/base";

.nav-container{
    display: flex;
    background: rgba(255,255,255,0);
    z-index: 100;

    .navigation{
        margin-left: 10px;
        margin-top: 20px;
        background: rgba(255,255,255,0);
    }
}