@import "../ComponentStyles/base";

.nav-container{
    display: flex;
    justify-content: center;
    z-index: 100;
    top: 0;
    width: 100%;
    margin-top: 0px;
    background-color: whitesmoke;
    position: sticky;
    top: 0px;

    .logo{
        background-image: url(./../assets/TP-logo.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 50px;
        width: 50px;
        margin: 5px;
    }

    .navigation{
        margin: 10px 10px 5px 10px;
        display: flex;
        flex-direction: row;
        width: 75vw;
        height: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;

    div{
        height: 25px;
        padding: 3px;

    }
    }
}