@import "../ComponentStyles/base";

.landing-wrapper{
    background: #FDFBFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FDFBFB, #EBEDEE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #FDFBFB, #EBEDEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // margin-top: 25px;
    padding: 20px 15px 0 5px;
    height: 100%;
    width: 100%;
    // overflow-y: scroll;
    display: flex;
    flex-direction: column;

        .text-card{
            height: 100%;
            width: 100%;
            margin: 0 0 20px 0px;
            padding: 0 15px 0 10px;

            h1{
                margin: 0 0 10px 0;
            }
            p{
                font-size: 8px;
            }
        }
}