@import "../ComponentStyles/base";

.landing-wrapper {
    background: #fdfbfb; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #fdfbfb,
        #ebedee
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #fdfbfb,
        #ebedee
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px 20px 0 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 3em;
    }
    #a {
        p {
            font-size: 1em;
            line-height: 1.3em;
            margin-left: 5%;
        }
    }

    #b {
        h3 {
            margin-left: 5%;
            margin-top: 8px;
            margin-bottom: 15px;
        }
        h3:first-of-type {
            font-family: "Montserrat", sans-serif !important;
            font-size: 3em;
            font-weight: 900;
            letter-spacing: 0.2em;
            margin: 0;
        }

        .list-container {
            margin-left: 10%;
            margin-top: 15px;

            ul {
                padding-left: 20px;

                li {
                    list-style-type: circle;
                    margin-top: 5px;
                }
            }
        }
    }

    #d {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 1.5em;
            margin-bottom: 30px;
        }
        .contact-container {
            width: 30vw;
            height: 50px;
            border-radius: 1.5%;
            background-color: rgba(0, 0, 0, 0.05);
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-transition: 0.18s ease-out;
            -moz-transition: 0.18s ease-out;
            -o-transition: 0.18s ease-out;
            transition: 0.18s ease-out;
            box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
            margin-bottom: 30px;

            &:hover {
                box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
            }
        }
    }
    .text-card {
        height: 100%;
        width: 100%;
        margin: 0 0 20px 0px;
        display: flex;
        flex-direction: column;
        // padding: 0 15px 0 10px;

        h1 {
            margin: 0 0 10px 0;
            text-align: center;
        }
        h3 {
            text-align: center;
        }
        p {
            font-size: 8px;
        }

        .picture {
            align-self: center;
            background-image: url(./../assets/bitMe.JPG);
            background-repeat: no-repeat;
            background-size: contain;
            height: 125px;
            width: 125px;
            margin-bottom: 20px;
            border-radius: 35%;
        }

        .icon-container {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 10px;

            .html {
                @include icon-set;
                background-image: url("https://cdn.svgporn.com/logos/html-5.svg");
            }
            .css {
                @include icon-set;
                background-image: url("https://cdn.svgporn.com/logos/css-3.svg");
            }
            .sass {
                @include icon-set;
                background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Sass_Logo_Color.svg/512px-Sass_Logo_Color.svg.png");
            }
            .javascript {
                @include icon-set;
                background-image: url("https://cdn.svgporn.com/logos/javascript.svg");
            }
            .react {
                @include icon-set;
                background-image: url("https://cdn.svgporn.com/logos/react.svg");
            }
            .nodejs {
                @include icon-set;
                background-image: url("https://cdn.svgporn.com/logos/nodejs.svg");
            }
            .express {
                @include icon-set;
                background-image: url("https://cdn.svgporn.com/logos/express.svg");
            }
            .mongodb {
                @include icon-set;
                background-image: url("https://cdn.svgporn.com/logos/mongodb.svg");
            }
            .api {
                @include icon-set;
                background-image: url("https://png2.kisspng.com/sh/0167b576ca5b57c6d4b46c3d0e9388b9/L0KzQYm3WMA5N6pweZH0aYP2gLBuTfxwb5CyeeJ5bHnmccXwjB4ueKN0fARqbX3sfri0if51baNredVuLXPyfcH8lPVzNaF3RelxYYSwfbLyhgMuOWE1SKI2Y4X2hLF0hgJ0NZ1ug9c2aXbvibTvggQucZdxkdVxYT24cofpUfMzbZY4fqoAND65SIi3V8YxO2I6S6UCNEa1QoOCU8M5NqFzf3==/kisspng-logo-application-programming-interface-computer-pr-what-makes-10000-customers-like-iflychat-iflycha-5b6b1c2ee3f854.6870760315337462229338.png");
            }
            .bootstrap {
                @include icon-set;
                background-image: url("http://pluspng.com/img-png/bootstrap-png-bootstrap-1024.png");
            }
            .photoshop {
                @include icon-set;
                background-image: url("http://pluspng.com/img-png/photoshop-logo-png-open-2000.png");
            }
            .illustrator {
                @include icon-set;
                background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Adobe_Illustrator_CC_icon.svg/512px-Adobe_Illustrator_CC_icon.svg.png");
            }
            .indesign {
                @include icon-set;
                background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Adobe_InDesign_CC_icon.svg/512px-Adobe_InDesign_CC_icon.svg.png");
            }
        }
        .projects-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .zen {
                @include project-set;

                .zenpic {
                    background-image: url(./../assets/zen-pic.jpg);
                    @include projectPic;
                    // @include linearGradient($random-color, light);
                }
            }
            .business {
                @include project-set;

                .businesspic {
                    background-image: url(./../assets/Business-time.png);
                    @include projectPic;
                }
            }
            .mario {
                @include project-set;

                .mariopic {
                    @include projectPic;
                    @include linearGradient($random-color, dark);
                }
            }
            .ibm {
                @include project-set;

                .ibmpic {
                    background-image: url(./../assets/IBM-pic.jpg);
                    @include projectPic;
                    // @include linearGradient($random-color, darkest);
                }
            }
            .bounty {
                @include project-set;

                .bountypic {
                    @include projectPic;
                    @include linearGradient($random-color, light);
                }
            }
            .photo {
                @include project-set;

                .photopic {
                    @include projectPic;
                    @include linearGradient($random-color, lightest);
                }
            }
            .zillow {
                @include project-set;

                .zillowpic {
                    @include projectPic;
                    @include linearGradient($random-color, dark);
                }
            }
            .links {
                display: flex;
                flex-direction: row;

                li {
                    margin-left: 25px;
                }
            }

            .tech-container {
                display: flex;
                flex-direction: row;
                width: 100%;
                margin-top: 5px;
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 5px;
                padding-left: 7%;

                h4 {
                    margin-right: 5px;
                    margin-bottom: 0;
                }
                .tech {
                    font-size: 0.8em;
                    margin-bottom: 0;
                    margin-top: 3px;
                }
            }
            p {
                padding-right: 25px;
                padding-left: 25px;
                font-size: 0.8em;
                margin-bottom: 5px;
            }
        }

        .resume {
            margin-top: 10px;
            margin-bottom: 10px;
            height: 100px;
            width: 100px;
            background-image: url(./../assets/document-icon.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            &:hover {
                box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.5);
            }
        }
    }
}

@media (min-width: 768px) {
    .landing-wrapper {
        #d {
            .contact-container {
                font-size: 1.25em;
            }
        }
        .text-card {
            .projects-container {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: space-evenly;
            }
        }
    }
}

@media (min-width: 1024px) {
    .landing-wrapper {

        #d {
            .contact-container {
                font-size: 1.5em;
            }
        }
        .text-card {
            h3 {
                font-size: 2em;
            }

            .picture {
                height: 200px;
                width: 200px;
            }

            .list-container {
                font-size: 1.5em;
            }

            .projects-container {
                .tech-container {
                    h4 {
                        font-size: 1.2em;
                    }
                    .tech {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}
