@import "../ComponentStyles/base";

.splash-container {
    @include splash-dim;
    position: relative;

    .hello-container {
        height: 25%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        z-index: 200;
        position: absolute;

        .hello {
            margin-top: 25%;
            margin-left: 10%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            height: 50vh;
            width: 82vw;

            .letters {
                font-family: "Montserrat", sans-serif !important;
                font-weight: 900;
                font-size: 9em;
                color: white;
                margin-top: -40px;
                opacity: 0;
                animation-delay: 1s;
                animation: 2s cubic-bezier(0.3, 0.25, 0.25, 1.25) forwards
                    fade-in;
                -webkit-animation-delay: 1s;
                -webkit-animation: 2s cubic-bezier(0.3, 0.25, 0.25, 1.25)
                    forwards fade-in;
            }
            .letters:last-child {
                color: #ff003d;
            }

            @for $i from 1 through 6 {
                .letters {
                    &:nth-child(#{$i}) {
                        // Delay the animation. Delay increases as items loop.
                        animation-delay: $i * (0.35s);
                    }
                }
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                    transform: translateX(50%) scale(0) rotateZ(-60deg);
                }

                100% {
                    opacity: 1;
                    transform: translateX(0) scale(1) rotateZ(0deg);
                }
            }

            @-webkit-keyframes fade-in {
                0% {
                    opacity: 0;
                    transform: translateX(50%) scale(0) rotateZ(-60deg);
                }

                100% {
                    opacity: 1;
                    transform: translateX(0) scale(1) rotateZ(0deg);
                }
            }
        }
    }
    #arrow {
        background-image: url(./../assets/down-arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 50px;
        width: 50px;
        z-index: 200;
        transition: 2.5s;
        animation: bounce 1s infinite alternate;
        -webkit-animation: bounce 1s infinite alternate;
    }

    @keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-10px);
        }
    }
    @-webkit-keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-10px);
        }
    }

    #intro-container {
        color: white;
        display: flex;
        justify-content: center;
        margin: 10px;
        padding: 0px 0px;

        #intro {
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 10%;
            width: auto;
            word-wrap: break-word;

            h1 {
                font-family: "Raleway", sans-serif !important;
                font-weight: 900;
                font-size: 2.6rem;
                display: block;
                width: 93%;
                position: sticky;
                top: 0px;
            }
            h5 {
                font-family: "Roboto", sans-serif !important;
                font-weight: light;
                font-size: 1.3em;
                margin-top: 20px;
            }

            #programming {
                background-image: url(./../assets/computer-vectors_animated.svg);
                background-repeat: no-repeat;
                background-size: contain;
                height: 100%;
                width: 98vw;
                margin-top: 20vh;
                -webkit-box-shadow: 10px 8px 17px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 10px 8px 17px 0px rgba(0, 0, 0, 0.75);
                box-shadow: 10px 8px 17px 0px rgba(0, 0, 0, 0.75);
            }
        }
    }
    // .cube-container {
    //     @include splash-dim;
    //     background: #fdfbfb; /* fallback for old browsers */
    //     background: -webkit-linear-gradient(
    //         to right,
    //         #fdfbfb,
    //         #ebedee
    //     ); /* Chrome 10-25, Safari 5.1-6 */
    //     background: linear-gradient(
    //         to right,
    //         #fdfbfb,
    //         #ebedee
    //     ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    //     display: flex;
    //     justify-content: center;
    //     align-items: flex-start;
    //     z-index: 100;

    //     .sk-folding-cube {
    //         margin: 20px auto;
    //         margin-top: 50%;
    //         width: 180px;
    //         height: 180px;
    //         position: absolute;
    //         z-index: 100;
    //         -webkit-transform: rotateZ(45deg);
    //         transform: rotateZ(45deg);

    //         .purple {
    //             float: left;
    //             width: 50%;
    //             height: 50%;
    //             position: relative;
    //             -webkit-transform: scale(1.1);
    //             -ms-transform: scale(1.1);
    //             transform: scale(1.1);
    //         }

    //         .purple:before {
    //             content: "";
    //             position: absolute;
    //             top: 0;
    //             left: 0;
    //             width: 100%;
    //             height: 100%;
    //             background-color: #6665dd;
    //             -webkit-animation: sk-foldCubeAngle 2.6s infinite linear both;
    //             -webkit-animation-iteration-count: 1;
    //             animation: sk-foldCubeAngle 2.6s infinite linear both;
    //             animation-iteration-count: 1;
    //             -webkit-transform-origin: 100% 100%;
    //             -ms-transform-origin: 100% 100%;
    //             transform-origin: 100% 100%;
    //         }

    //         .white {
    //             float: left;
    //             width: 50%;
    //             height: 50%;
    //             position: relative;
    //             -webkit-transform: scale(1.1);
    //             -ms-transform: scale(1.1);
    //             transform: scale(1.1);
    //         }

    //         .white:before {
    //             content: "";
    //             position: absolute;
    //             top: 0;
    //             left: 0;
    //             width: 100%;
    //             height: 100%;
    //             background-color: #fff;
    //             -webkit-animation: sk-foldCubeAngle 2.6s infinite linear both;
    //             -webkit-animation-iteration-count: 2;
    //             animation: sk-foldCubeAngle 2.6s infinite linear both;
    //             animation-iteration-count: 2;
    //             -webkit-transform-origin: 100% 100%;
    //             -ms-transform-origin: 100% 100%;
    //             transform-origin: 100% 100%;
    //         }

    //         .sk-cube2 {
    //             -webkit-transform: scale(1.1) rotateZ(90deg);
    //             transform: scale(1.1) rotateZ(90deg);
    //         }
    //         .sk-cube3 {
    //             -webkit-transform: scale(1.1) rotateZ(180deg);
    //             transform: scale(1.1) rotateZ(180deg);
    //         }
    //         .sk-cube4 {
    //             -webkit-transform: scale(1.1) rotateZ(180deg);
    //             transform: scale(1.1) rotateZ(180deg);
    //         }
    //         .sk-cube2:before {
    //             -webkit-animation-delay: 0.3s;
    //             animation-delay: 0.3s;
    //         }
    //         .sk-cube3:before {
    //             -webkit-animation-delay: 0.9s;
    //             animation-delay: 0.9s;
    //         }
    //         .sk-cube4:before {
    //             -webkit-animation-delay: 0.6s;
    //             animation-delay: 0.6s;
    //         }

    //         @-webkit-keyframes sk-foldCubeAngle {
    //             0%,
    //             10% {
    //                 -webkit-transform: perspective(140px) rotateX(-180deg);
    //                 transform: perspective(140px) rotateX(-180deg);
    //                 opacity: 0;
    //             }
    //             25%,
    //             75% {
    //                 -webkit-transform: perspective(140px) rotateX(0deg);
    //                 transform: perspective(140px) rotateX(0deg);
    //                 opacity: 1;
    //             }
    //             90%,
    //             100% {
    //                 -webkit-transform: perspective(140px) rotateY(180deg);
    //                 transform: perspective(140px) rotateY(180deg);
    //                 opacity: 0;
    //             }
    //         }

    //         @keyframes sk-foldCubeAngle {
    //             0%,
    //             10% {
    //                 -webkit-transform: perspective(140px) rotateX(-180deg);
    //                 transform: perspective(140px) rotateX(-180deg);
    //                 opacity: 0;
    //             }
    //             25%,
    //             75% {
    //                 -webkit-transform: perspective(140px) rotateX(0deg);
    //                 transform: perspective(140px) rotateX(0deg);
    //                 opacity: 1;
    //             }
    //             90%,
    //             100% {
    //                 -webkit-transform: perspective(140px) rotateY(180deg);
    //                 transform: perspective(140px) rotateY(180deg);
    //                 opacity: 0;
    //             }
    //         }
    //     }
    // }
}
